body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 20vh;

    form{
        margin-left: 43.5vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        border: black 1px solid;
        position: fixed;

        button, label{
            margin-top: 5%;
        }
        button:hover{
            cursor: pointer;
            background: rgb(180, 180, 180);
        }
    }
}